body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.item{
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
    border-radius: 4px;
    display: grid;
}

.comprar{
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

