*{
    margin: 0;
    padding: 0;
}

.content-superior{
    background-color: #A66832;
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 40px;
}

ul {
    text-align: center;
    background-color: #D9A282;
    padding: 10px 0 10px 0;
}

.navegacao li{
    display: inline;
    margin-left: 30px;
}

.navegacao a{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #734124;
}

.navegacao a:hover{
    color: white;
    text-decoration: underline;
}

main{
    position: relative;
    height: 800px;
    margin-top:20px ;
}

.artigo1{
 position: absolute;
 left: 200px;
 width: 300px;
 font-family: sans-serif;
 transition: .5s;
 height: 360px;
}

.artigo1 img{
    width: 300px;
}

.artigo1 h3{
    margin: 10px 0 10px 0;
}

.artigo1:hover{
    color: #A66832;
    border: 1px solid #A66832;
    height: 380px;
}

.artigo2{
    position: absolute;
    left: 600px;
    width: 300px;
    font-family: sans-serif;
    transition: .5s;
    height: 360px;
   }
   
   .artigo2 img{
       width: 300px;
   }
   
   .artigo2 h3{
       margin: 10px 0 10px 0;
   }
   
   .artigo2:hover{
       color: #A66832;
       border: 1px solid #A66832;
       height: 380px;
   }
   
.artigo3{
    position: absolute;
    left: 200px;
    top: 400px;
    width: 300px;
    font-family: sans-serif;
    transition: .5s;
    height: 360px;
   }

.artigo3 img{
    width: 300px;
}

.artigo3 h3{
    margin: 10px 0 10px 0;
}



.artigo3:hover{
    color: #A66832;
    border: 1px solid #A66832;
    height: 380px;
}

.artigo4{
    position: absolute;
    left: 600px;
    top: 400px;
    width: 300px;
    font-family: sans-serif;
    transition: .5s;
    height: 360px;
   }

.artigo4 img{
    width: 300px;
}

.artigo4 h3{
    margin: 10px 0 10px 0;
}

.artigo4:hover{
    color: #A66832;
    border: 1px solid #A66832;
    height: 380px;
}

.endereco{
    position: relative;
    left: 50px;
}

.endereco h4{
    font-family: sans-serif;
}

.endereco p{
    font-family: sans-serif;
}

.telefone{
    position: relative;
    left: 500px;
    bottom: 50px;
}

.telefone h3{
    font-family: sans-serif;
}

.telefone img{
    width: 20px;
    position: relative;
    right: 30px;
    top: 23px;
}

.email{
    position: relative;
    left: 500px;
    bottom: 60px;
}

.email h3{
    font-family: sans-serif;
}

.email img{
    width: 30px;
    position: relative;
    right: 40px;
    top: 30px;
}

.redes-sociais{
    position: relative;
    left: 500px;
    bottom: 40px;
}

.twitter{
    width: 25px;
}

.facebook{
    width: 30px;
    position: relative;
    top: 3px;
}

.instagran{
    width: 23px;
}

.redes-sociais img{
    margin-right: 5px;
}

.redes-sociais h3{
    padding-left: 15px;
    font-family: sans-serif;
}

.content-contato{
    background-color: #734124;
    padding-top: 20px;
}