*{
    margin: 0;
    padding: 0;
}

.content-superior{
    background-color: #A66832;
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 40px;
}

ul {
    text-align: center;
    background-color: #D9A282;
    padding: 10px 0 10px 0;
}

.navegacao li{
    display: inline;
    margin-left: 30px;
}

.navegacao a{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #734124;
}

.navegacao a:hover{
    color: white;
    text-decoration: underline;
}

main{
    margin-bottom: 1850px;
}

.primeira-coluna{
    position: relative;
    margin-top: 50px;
}

.livro1{
    position: absolute;
    left: 280px;
    text-align: center;
    border: 1px solid black ;
    transition: 0.5s;
    height: 315px;
}

.livro1 img{
    width: 200px;
}

.livro1 h3{
    margin: 10px 0 60px 0;
    font-family: sans-serif;
    color: black;
}

.livro1 p {
    font-family: sans-serif;
    color: black;
}

.livro1:hover{
    border: 1px solid black;
    height: 350px;
}

.livro2{
    position: absolute;
    left: 550px;
    text-align: center;
    border: solid 1px black;
    padding: 0 30px 0 30px;
    height: 317px;
    transition: 0.5s;
}

.livro2 img{
    width: 135px;
}

.livro2 h3{
    margin: 10px 0 60px 0;
    font-family: sans-serif;
    color: black;
}

.livro2 p{
    font-family: sans-serif;
    color: black;
}

.livro2:hover{
    height: 350px;
    border: 1px solid black;
}

.livro3 {
    position: absolute;
    left: 800px;
    text-align: center;
    border: 1px solid black;
    height: 315px;
    transition: 0.5s;
}

.livro3 img{
    width: 155px;
}

.livro3 h3{
    width: 200px;
    margin: 10px 0 30px 0;
    color: black;
}

.livro3 p{
    font-family: sans-serif;
    color: black;
}

.livro3:hover{
    height: 350px;
    border: 1px solid black;
}

.segunda-coluna{
    position: relative;
}

.livro4{
    position: absolute;
    left: 280px;
    top: 450px;
    text-align: center;
    border: 1px solid black;
    height: 315px;
    transition: 0.5s;
}

.livro4 img{
    width: 200px;
}

.livro4 h3{
 margin: 10px 0 60px 0;
 font-family: sans-serif;
 color: black;
}

.livro4 p {
    font-family: sans-serif;
    color: black;
}

.livro4:hover{
    height: 350px;
    border: 1px solid black;
}

.livro5{
    position: absolute;
    left: 550px;
    top: 450px;
    text-align: center;
    border: solid 1px black;
    padding: 0 20px 0 20px;
    height: 325px;
    transition: 0.5s;
}

.livro5 img{
    width: 140px;
}

.livro5 h3{
    margin: 10px 0 60px 0;
    font-family: sans-serif;
    color: black;
}

.livro5 p{
    font-family: sans-serif;
    color: black;
}

.livro5:hover{
    height: 360px;
    border: 1px solid black;
}

.livro6{
    position: absolute;
    left: 800px;
    top: 450px;
    text-align: center;
    border: 1px solid black;
    padding: 0 30px 0 30px;
    height: 330px;
    transition: 0.5s;
}

.livro6 img{
    width: 150px;
}

.livro6 h3{
    margin: 10px 0 50px 0;
    font-family: sans-serif;
    color: black; 
}

.livro6 p{
    font-family: sans-serif;
    color: black;
}

.livro6:hover{
    height: 360px;
    border: 1px solid black;
}

.livro7{
    position: absolute;
    left: 280px;
    top: 1100px;
    text-align: center;
    border: 1px solid black;
    padding: 0 20px 0 20px;
    height: 365px;
    transition: 0.5s;
}

.livro7 h3{
    margin: 10px 0 60px 0;
    font-family: sans-serif;
    color: black;
}

.livro7 p{
    font-family: sans-serif;
    color: black;
}

.livro7:hover{
    height: 385px;
    border: 1px solid black;
}

.livro8 {
    position: absolute;
    left: 550px;
    top: 1100px;
    text-align: center;
    border: 1px solid black;
    height: 375px;
    transition: 0.5s;
}

.livro8 img{
    width: 165px;
}

.livro8 h3{
    width: 200px;
    margin: 10px 0 38px 0;
    font-family: sans-serif;
    color: black;
}

.livro8 p{
    font-family: sans-serif;
    color: black;
}

.livro8:hover{
    height: 395px;
    border-radius: 1px solid black;
}

.livro9{
    position: absolute;
    left: 800px;
    top: 1100px;
    text-align: center;
    border: 1px solid black;
    padding: 0 20px 0 20px;
    height: 375px;
    transition: 0.5s;
}

.livro9 img{
    width: 185px;
}

.livro9 h3{
    font-family: sans-serif;
    margin: 10px 0 60px 0;
    color: black;
}

.livro9 p{
    font-family: sans-serif;
    color: black;
}

.livro9:hover{
    height: 395px;
    border: solid 1px black;
}

.livro10{
    position: absolute;
    left: 280px;
    top: 1550px;
    text-align: center;
    border: 1px solid black;
    padding: 0 10px 0 10px;
    height: 395px;
    transition: 0.5s;
}

.livro10 h3{
    font-family: sans-serif;
    margin: 10px 0 60px;
    width: 200px;
    color: black;
}

.livro10 p {
    font-family: sans-serif;
    color: black;
}

.livro10:hover{
    height: 415px;
    border: 1px solid black;
}

.livro11{
    position: absolute;
    left: 550px;
    top: 1550px;
    text-align: center;
    border: solid 1px black;
    height: 390px;
    transition: 0.5s;
}

.livro11 img{
    width: 260px;
}

.livro11 h3{
    font-family: sans-serif;
    margin: 10px 0 77px 0;
    color: black;
}

.livro11 p{
    font-family: sans-serif;
    color: black;
}

.livro11:hover{
    height: 410px;
    border: 1px solid black;
}

.livro12{
    position: absolute;
    left: 820px;
    top: 1550px;
    text-align: center;
    border: 1px solid black;
    height: 395px;
    transition: 0.5s;
}

.livro12 img{
    width: 260px;
}

.livro12 h3{
    font-family: sans-serif;
    margin: 10px 0 80px 0;
    color: black;
}

.livro12 p{
    font-family: sans-serif;
    color: black;
}

.livro12:hover{
    height: 415px;
    border: 1px solid black;
}

.endereco{
    position: relative;
    left: 50px;
}

.endereco h4{
    font-family: sans-serif;
}

.endereco p{
    font-family: sans-serif;
}

.telefone{
    position: relative;
    left: 500px;
    bottom: 50px;
}

.telefone h3{
    font-family: sans-serif;
}

.telefone img{
    width: 20px;
    position: relative;
    right: 30px;
    top: 23px;
}

.email{
    position: relative;
    left: 500px;
    bottom: 60px;
}

.email h3{
    font-family: sans-serif;
}

.email img{
    width: 30px;
    position: relative;
    right: 40px;
    top: 30px;
}

.redes-sociais{
    position: relative;
    left: 500px;
    bottom: 40px;
}

.twitter{
    width: 25px;
}

.facebook{
    width: 30px;
    position: relative;
    top: 3px;
}

.instagran{
    width: 23px;
}

.redes-sociais img{
    margin-right: 5px;
}

.redes-sociais h3{
    padding-left: 15px;
    font-family: sans-serif;
}

.content-contato{
    background-color: #734124;
    padding-top: 20px;
}