*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


input{
    border-radius: 50px;
    height: 40px;
    width: 340px;
}

.navegacao{
    padding: 20px 0px 0px 80px;
    background-color: #4f235c;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.carrinho{
    position: relative;
    left: 80px;
    bottom: 45px;
}

.lupa{
    position: relative;
    width: 43px;
    bottom: 33px;
    right: 26px;
    background-color: rgb(98, 180, 230);
    border-radius: 50px;

}

.subindo{
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
}

.lista{
    list-style: none;
}


.cao{
    position: absolute;
    left: 260px;
    top: 90px;
    color: white;
    transition: .3s;
}

.cao:hover{
    color: yellow;
}

.gato{
    position: absolute;
    left: 378px;
    top: 90px;
    color: white;
    transition: .3s;
}

.gato:hover{
    color: yellow;
}

.outros{
    position: absolute;
    left: 490px;
    top: 90px;
    color: white;
    transition: .3s;
}

.outros:hover{
    color: yellow;
}

.farmacia{
    position: absolute;
    left: 620px;
    top: 90px;
    color: white;
    transition: .3s;
}

.farmacia:hover{
    color: yellow;
}

.servicos{
    position: absolute;
    left: 740px;
    top: 90px;
    color: white;
    transition: .3s;
}

.servicos:hover{
    color: yellow;
}

.outlet{
    position: absolute;
    left: 840px;
    top: 90px;
    color: white;
    transition: .3s;
}

.outlet:hover{
    color: yellow;

}

.menu-inferior{
    position: relative;
    margin: 20px 0 20px 0;
    padding-left: 10px;
    }
    
    .paragrafo-home a{
        color: grey;
        font-family: sans-serif;
        font-size: 14px;
    }
    
    .paragrafo-gatos a{
        color: gold;
        font-family: sans-serif;
        font-weight: bold;
        font: 14px;
        position: absolute;
        left: 67px;
        top: 3px;
    }
    
    .carrosel-gatos img{
        max-width: 100%;
    }
    
    .content-subtitulo{
        margin-bottom: 150px;
    }
    
    .subtitulo{
        position: relative;
    }
    
    .subtitulo h2{
        text-align: center;
        font-family: sans-serif;
        color: #4f235c;
        margin-bottom: 60px;
    }
    
    .primeiro-paragrafo{
        position: absolute;
        left: 380px;
        top: 80px;
        color: grey;
        font-family: sans-serif;
    }
    
    .segundo-paragrafo{
        position: absolute;
        left: 850px;
        top:80px;
        font-family: sans-serif;
        color: grey;
        
    }
    
    .subtitulo a{
        position: absolute;
        left: 960px;
        top:50px;
        border: 1px solid grey;
        display: inline;
        padding: 20px 80px 20px 40px;
        border-radius: 40px;
        color: black;
        font-family: sans-serif;
    }

    .primeira-coluna{
        position: relative;
        margin-bottom: 550px;
    }
    
    .coluna1-1{
        position: absolute;
        left: 400px;
    }
    
    .coluna1-1 p{
        width: 250px;
        margin-bottom: 40px;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(77, 75, 75);
    }
    
    .coluna1-2{
        position: absolute;
        left: 650px;
    }
    
    .coluna1-2 p{
        width: 250px;
        margin-bottom: 40px;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(77, 75, 75);
    }
    
    .coluna1-3{
        position: absolute;
        left: 950px;
    }
    
    .coluna1-3 p{
        width: 250px;
        margin-bottom: 40px;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(77, 75, 75);
    }

    .coluna1-3 a{
        text-align: center;
        text-decoration: underline;
        color: #4f235c;
    }
    
    
.segunda-coluna{
    position: relative;
    margin-bottom: 950px;
}

.coluna2-1{
    position: absolute;
    left: 400px;
}

.coluna2-1 p{
    width: 250px;
    margin-bottom: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(77, 75, 75);
}

.coluna2-1 a{
    text-align: center;
    text-decoration: underline;
    color: #4f235c;
}

.colorido p{
    color: #4f235c;
    font-weight: bold;
}

.sobre-outpet{
    position: relative;
    margin-bottom: 400px;
}

.sobre-outpet1{
    position: absolute;
    top: 10px;
}

.sobre-outpet1 a{
    display: block;
    color: black;
    text-align: center;
    padding-left: 180px;
    left: 180px;
    line-height: 2;
    font-family: sans-serif;
}

.colorido{
    color: #4f235c;
    font-weight: bold;
}

.sobre-outpet2{
    position: absolute;
    top: 10px;
}

.sobre-outpet2 a{
    display: block;
    color: black;
    text-align: center;
    padding-left: 480px;
    left: 480px;
    line-height: 2;
    font-family: sans-serif;
}

.sobre-outpet3{
    position: absolute;
    top: 10px;
}

.sobre-outpet3 a{
    display: block;
    color: black;
    text-align: center;
    padding-left: 780px;
    left: 480px;
    line-height: 2;
    font-family: sans-serif;
}

.redes-sociais{
    position: relative;
}

.facebook{
    width: 50px;
    position: relative;
    top: 300px;
    left: 460px;
}

.instagran{
    width:50px;
    position: relative;
    top: 298px;
    left: 500px;
}

.youtube{
    width: 40px;
    position: relative;
    top: 294px;
    left: 540px;
}

.linkedin{
    width: 35px;
    position: relative;
    top: 290px;
    left: 590px;
}

.imagem-colada{
    position: relative;
}

.imagem-colada img{
    position: absolute;
    max-width:100%;
    margin-top: 400px;
}

.cadastre{
    border: 1px solid black;
    background: #4f235c;
    position: relative;
    height: 70px;
}

.cadastre input{
    position: relative;
    left: 350px;
    top: 10px;
}

.cadastre-maior{
    color: yellow;
    position: absolute;
    font-size: 28px;
    width: 100px;
    top: 10px;
    text-align: center;
}

.cadastre-menor{
    color: yellow;
    position: absolute;
    top: 10px;
    text-align: center;
    width: 185px;
    left: 150px;
}

.cadastre a{
    position: absolute;
    color: white;
    background: rgb(87, 179, 210);
    right: 180px;
    top: 12px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}