*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    justify-items: center;
    gap: 60px;
    margin-top: 60px;
    background-color:#A9D9D0;
}
.navegacao{
    display: flex;
    gap: 20px;
    list-style: none;
}

a{
    text-decoration: none;
    padding: 10px 20px;
    background-color:#027373;
    border-radius: 4px;
    color: #000;
    transition: 0.5s;
}

a:hover{
    color: #0D0D0D;
    background:#F2E7DC;
    font-size: 1.1rem;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 1000px;
}

.introducao{
    background-color: #F2E7DC;
    display: grid;
    text-align: right;
    align-items: center;
    justify-items: end;
    padding: 2.5rem;
    
}



.imagem{
    display: block;
    max-width: 100%;
}