.nav-cor{
    background-color: #DEEFE7;
}

body{
    font-family: 'Libre Baskerville', serif;
}



.email-input{
    display: block;
    width: 400px;
    margin-bottom: 10px;
}

.descricao-input{
    display: block;
    width: 400px;
    height: 200px;
}