*{
    margin: 0px;
    font-family: arial;
}
h1{
    text-align: center;
}

h2{
    color: white;
}

.tabela1{
    background-color: #111;
    color: #b2b2b2;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 800px;
}

.tabela2{
    background-color: #111;
    color: #b2b2b2;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 800px;
}

span{
 color: #febe01;   
}

button{
    padding: 10px;
    margin: 10px 0px;
    background-color: #febe01;
    color: #332200;
    border-radius: 4px;
}