*{
    margin: 0px;
    padding: 0px;
}

.colorir{
    height: 10px;
    background-color: rgba(77, 144, 233, 0.603);
}

.inicio{
    position: relative;
    height: 100px;
    background-color: rgb(243, 244, 245);
}

.logo{
    width: 80px;
}

.face{
    width: 20px;
    position: absolute;
    left: 800px;
    bottom: 65px;
    display: inline-block;
    border-radius: 50%;
}

.youtube{
    width: 28px;
    position: absolute;
    left: 819px;
    bottom: 60px;
    display: inline-block;
    border-radius: 50%;
}

.twitter{
    width: 20px;
    position: absolute;
    left: 845px;
    bottom: 65px;
    display: inline-block;
}

.instagram{
    width: 19px;
    position: absolute;
    left: 868px;
    bottom: 65px;
    display: inline-block;
}

.inicio h1{
    display:inline-block;
    position: relative;
    bottom: 10px;
    font-size: 20px;   
    color: rgb(63, 181, 221); 
    font-weight: 100;
    font-family: sans-serif;
}

.inicio span{
    font-size: 16px;
}

.lista-navegacao{
    list-style: none;
    margin-left: 10px;
    position: relative;
}

.navegacao{
    background-color: rgba(77, 144, 233, 0.603);
}

.primeira-navegação{
    display: inline-block;
    padding: 5px 0 5px 10px;
}

.primeira-navegação a{
    text-decoration: none;
    color: #fff;
}

main img{
   max-width: 100%;
   position: relative;
}

.tabela{
    position: absolute;
    bottom: 580px;
    left: 30px;
    height: 260px;
    width: 250px;
    background-color: #ff6900;
    border-radius: 10px;
    padding: 0 30px 0 30px;
}

.tabela h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tabela span{
    color: rgb(234, 222, 90);
}

.lista-tabela{
    list-style: none;
    text-align: center;
}

.lista-tabela a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 15%;
    color: rgb(23, 113, 23);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.lista-simular a{
    background-color: rgb(35, 202, 35);
    color: #fff;
    text-transform: uppercase;
    border-radius: 20%;
    padding: 15px 30px;
}