*{
    margin: 0px;
    padding: 0px;
}


.colorir{
    height: 10px;
    background-color: rgba(77, 144, 233, 0.603);
}

.inicio{
    position: relative;
    height: 100px;
    background-color: rgb(243, 244, 245);
}

.logo{
    width: 80px;
}

.face{
    width: 20px;
    position: absolute;
    left: 800px;
    bottom: 65px;
    display: inline-block;
    border-radius: 50%;
}

.youtube{
    width: 28px;
    position: absolute;
    left: 819px;
    bottom: 60px;
    display: inline-block;
    border-radius: 50%;
}

.twitter{
    width: 20px;
    position: absolute;
    left: 845px;
    bottom: 65px;
    display: inline-block;
}

.instagram{
    width: 19px;
    position: absolute;
    left: 868px;
    bottom: 65px;
    display: inline-block;
}


.inicio h1{
    display:inline-block;
    position: relative;
    bottom: 10px;
    font-size: 20px;   
    color: rgb(63, 181, 221); 
    font-weight: 100;
    font-family: sans-serif;
}

.inicio span{
    font-size: 16px;
}

.inicio a{
    text-decoration: none;
    
}

.lista-navegacao{
    list-style: none;
    margin-left: 10px;
    position: relative;
}

.navegacao{
    background-color: rgba(77, 144, 233, 0.603);
}

.primeira-navegação{
    display: inline-block;
    padding: 5px 0 5px 10px;
}

.primeira-navegação a{
    text-decoration: none;
    color: #fff;
}

main h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgba(77, 144, 233, 0.603);
    margin: 10px;
    font-size: 25px;
}

main h4{
    margin: 0 0 15px 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0 0 15px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.primeiro-detalhe{
    text-decoration: underline;
    color: rgb(23, 113, 23);
}

.segundo-detalhe{
    text-decoration: underline;
    color: rgb(23, 113, 23);
}