ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    background-color: lightblue;
    padding: 10px 20px;
    display: block;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: 800px;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: 30px;
}

@media screen {
    
}