ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    background-color: lightblue;
    padding: 10px 20px;
    display: block;
    color: #000;
}