*{
    margin: 0px;
    padding: 0px;
}


h2{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: #b7b700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}


p{
    padding: 5px;
    text-align: left;
    width: 280px;
    line-height: 1.5;
    font-size: 18px;
}

img{
    float: right;
    margin-right: 50px;
    width: 350px;
}